
<div id="title-and-search-bar">
  <h1>GutenBook</h1>

  <form action="/books" method="get" data-remote="true">
    <input type="text" name="query" id="book-search">
    <button type="submit">Search</button>
  </form>
</div>

<div id="search-results-append">
</div>