<h1>GutenBook</h1>

<%= form_tag books_path, class: "form-inline", method: :get do %>
  <%= text_field_tag :query, params[:query], class: "form-control" %>
  <%= submit_tag "Search", class: "btn btn-primary" %>

  <% if params[:query].present? %>
  <%= link_to "clear", books_path %>
  <% end %>
<% end %>
